<%= content_for :breadcrumbs do %>
    <div class="breadcrumbs margin-bottom-40">
      <%= render 'refinery/breadcrumbs' %>
    </div>
<% end %>

<div class="container">
    <div class="row margin-bottom-20">
      <div class="headline"><h2><%= @page.title %></h2></div>

      <div class="col-md-6 md-margin-bottom-40">
        <% if part = @page.part_with_title(:body) %>
            <% presenter = Refinery::Pages::PagePartSectionPresenter.new(part) %>
            <%= presenter.wrapped_html %>
        <% end %>
      </div>

      <div class="col-md-6">
        <% if part = @page.part_with_title(:slideshow) %>
            <% presenter = Refinery::Pages::PagePartSectionPresenter.new(part) %>
            <%= presenter.wrapped_html %>
        <% end %>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <% if part = @page.part_with_title(:bottom_body) %>
              <% presenter = Refinery::Pages::PagePartSectionPresenter.new(part) %>
              <%= presenter.wrapped_html %>
          <% end %>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12">
          <% if page_part = @page.part_with_title(:body) %>
              <% page_part.snippets.each do |snippet| %>
                  <%= raw snippet.body %>
              <% end %>
          <% end %>
      </div>
    </div>
</div>


