<div class="container">
    <%= content_for :breadcrumbs do %>
        <div class="breadcrumbs margin-bottom-40">
          <%= render 'refinery/breadcrumbs' %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
          <div class="headline"><h2><%= @page.title %></h2></div>
          <%= raw @page.content_for(:body) %>
          <%= render "/refinery/photo_gallery/albums/show" %>
      </div>
    </div>
</div>


