<div class="container">
    <%= content_for :breadcrumbs do %>
        <div class="breadcrumbs margin-bottom-40">
          <%= render 'refinery/breadcrumbs' %>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
          <div class="headline"><h2><%= @page.title %></h2></div>
        <% if part = @page.part_with_title(:body) %>
            <% presenter = Refinery::Pages::PagePartSectionPresenter.new(part) %>
            <%= presenter.wrapped_html %>
        <% end %>
          <%= render "/refinery/photo_gallery/albums/show" %>
      </div>
    </div>
</div>


