<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>" class="boxed-layout">
    <%= site_bar -%>
    <%= render "/refinery/top" %>

    <%= yield_or :header do %>
      <div class="header">
        <%= render "/refinery/header" %>
      </div>
    <% end %>

    <%= yield(:breadcrumbs) %>

    <div id="page_container">
        <%= yield %>
    </div>

    <% if page_part = @page.part_with_title(:footer) %>
      <div class="footer">
        <%= render "/refinery/footer", :page_part => page_part -%>
      </div>
    <% end %>

    <div class="copyright">
      <%= render "/refinery/copyright" -%>
    </div>

    <%= render "/refinery/javascripts" %>
  </body>
</html>
